/* style.css */
a{
    color: #000;
}
.container{
    width: 80%;
    border: 1px solid #ccc;
    margin: 0 auto;
    padding: 1rem;
    margin-bottom: 10px;
    border-radius: 15px;
}
input{
    padding: 5px;
    width: 10rem;
}
ul li{
    list-style-type: none;
}
.gnb{
    text-align: center;
    background-color: rgb(255, 212, 219);
}
.gnb a{
    margin-right: 20px;
    font-weight: bold;
    text-decoration: none;
}
.gnb a:last-child{
    margin-right: 0;
}
.box {
    text-align: center;
    background-color: lightgoldenrodyellow;
}
.list{
    background-color: lightblue;
    background-image: url(../images/005401.png);
    background-repeat: no-repeat;
    background-position-x: right;
}
h2{
    margin-left: 20px;
}
.list1{
    background-color: rgba(237, 216, 250, 0.5);
    background-image: url(https://data1.pokemonkorea.co.kr/newdata/pokedex/full/005201.png);
    background-repeat: no-repeat;
    background-position-x: right;
}
.list0{
    background-color: rgba(184, 248, 184, 0.5);
    background-image: url(https://data1.pokemonkorea.co.kr/newdata/pokedex/full/002501.png);
    background-repeat: no-repeat;
    background-position-x: right;
}
.box2{
    text-align: center;
    background-color: rgb(210, 232, 250);
}
.list ul li{
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.dbtn{
    background: transparent;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 5px;
}