<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav class="container gnb">
        <a href="/">HOME</a> 
        <a href="/about">ABOUT</a>
    </nav>
    <div class="container">
        <h1>About Me</h1>
        <h2>M Y N A M E  I S</h2>
        <h2>SUNMIN</h2>
        <p>Creative front-end developer<br> 
            Passionate about <span>UI/UX</span></p>
    </div>
    <h1>About</h1>
</body>
</html>